
<div class="topnav" id="myTopnav" >
  <a href="/NewDocs" id="newdocs">New Document</a>
  <a href="/ViewPage_Default" id="files">Files</a>
  <div class="dropdown"style >
    <button class="dropbtn btn" id= "account">Account
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" >
      <a href="/account_details">Account Details</a>
      <% if(userRole == true) { %>
        <a href="/register">Registration</a>
        <% } %>
      <a href="/Loginpage">Sign Out</a>
    </div>
  </div>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<div style="background-color:rgb(255, 255, 255); padding: 40px; z-index:0; width: 100%; box-shadow: 5px 5px 5px grey;"></div>

<div style="padding-top:100px"></div>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";z
    } else {
      x.className = "topnav";
    }
  }
</script>



<script>
if (document.URL.includes("/NewDocs") ) {
  document.getElementById("newdocs").style.color = "rgb(57, 201, 206)";
}if (document.URL.includes("/ViewPage_Default")){
  document.getElementById("files").style.color = "rgb(57, 201, 206)";
}if (document.URL.includes("account")){
  document.getElementById("account").style.color = "rgb(57, 201, 206)";
}else{
  console.log("no page active")
}
  
  </script>