<html>
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Login Page</title>
</head>
<body>


    <div>
<center>

<div class = "sides" Style = "margin-top:100px; font-family: Arial, sans-serif;"> 
    <form action="/" method="POST">
    <h1 style="font-size: 25px;">Sign In</h1>
        <div>
                <div class="input-icons" style = "padding-top: 10px ">
                    <i class="fa fa-envelope icon"></i>
                    <input type="text" name = "Email" id = "Email"  placeholder = "Email" class = "input-field" onkeydown="FxUserPress()" required>
               </div>
                <div class="input-icons">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" name = "Password" id = "Pword"  placeholder = "Password" class = "input-field" onkeydown="FxUserPress()" required>
                </div>
        </div>

<input type="checkbox" id="remember" name="remember_me" value="remember" onclick = "Fxchkbox()">
<label for ="remember" style = "font-size:13px;">Remember me</label><br>
        
    <button class = "button" type = "submit" >SIGN IN</button>

    </form>

    <center>
        <p><%= errorMessage %></p>
    </center>
    <script>

        if(localStorage.remember_me == "true"){

            document.forms[0].remember_me.checked = true
            document.forms[0].Email.value = localStorage.email
            document.forms[0].Password.value = localStorage.password
            
        }
        else{
            document.forms[0].remember_me.checked = false
        }

        function FxUserPress(){
            if (document.forms[0].remember_me.checked == true){

                localStorage.setItem("remember_me", "true");
                localStorage.setItem("email", document.forms[0].Email.value);
                localStorage.setItem("password", document.forms[0].Password.value);

                }
                else{

                localStorage.setItem("remember_me", "false");
                localStorage.setItem("email", "");
                localStorage.setItem("password", "");
                }
                    }


        function Fxchkbox(){
            if (document.forms[0].remember_me.checked == true){

                localStorage.setItem("remember_me", "true");
                localStorage.setItem("email", document.forms[0].Email.value);
                localStorage.setItem("password", document.forms[0].Password.value);
                
            }
            else{

                localStorage.setItem("remember_me", "false");
                localStorage.setItem("email", "");
                localStorage.setItem("password", "");
            }
        }
    </script>    
           </div>

    </div>
</center>
</body>
</html>