<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
   <!--- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"> --->
    <title>New Document Page</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

<div>
   <center>
    <img id= "filePreview">
    </center>
</div>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('filePreview');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>


<form action="/ViewPage_Default" method="POST" enctype="multipart/form-data">
    <div class="container" style="background-color:rgb(182, 182, 182); padding: 40px; z-index:0; width: 60%; margin-top:100px;">
        <div class="row">
            <div class="col">

                
                    
                    <center>
                        <label for="snippet">Document Group:</label>
                        <input type="text" id="docu_Group" name="docu_Group" style ="width: 60%; height: 35px; margin-right:11px; " >
                    </center>
                         
                    <center>
                        <p class = "doc_Type">Document Type:         
                            <select id ="docu_Type" name="docu_Type" style ="width: 60%; height: 35px; margin-top:10px;">
                                <option value="placeholder"></option>
                                <option value="Permit">Permit</option>
                                <option value="Invoice">Invoice</option>
                                <option value="Receipt">Receipt</option>
                                <option value="Test1">Test1</option>
                            </select></p> 
                        </center>
                <!------------------------------------fix output---------------------------------------------->
                
                <div style ="margin-right: 10px;">
                <center>
                    <label for="snippet"></label>
                    <div class="custom-file mb-3" style ="width: 60%; height: 35px;" >
                        <input type="file" name="file" id="file" class="custom-file-input" onchange="loadFile(event)" multiple  required>
                        <label for="file" class="custom-file-label" style = "text-align:left; margin-left: 60px">Choose file</label>
                    </div>
                
                    <script type="text/javascript">

                        $('.custom-file input').change(function (e) {
                            var files = [];
                            for (var i = 0; i < $(this)[0].files.length; i++) {
                                files.push($(this)[0].files[i].name);
                            }
                            $(this).next('.custom-file-label').html(files.join(', '));
                        });
                    
                    </script>
                

                
            </center>
                 </div>
            </div>
        </div>
    </div>
    <center><button type="submit" value="Submit" class="btn btn-primary btn-block" style ="width: 30%;  height: 60px; margin-top: 30px;">Upload</button></center>
</form>





</body>
</html>