<html>
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Register Page</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
<center>
           
<div class = "sides" Style = "margin-top:100px;"> 
    <h1>Registration</h1>
    <form name = "form" action="/register" method="POST" id="contact_form" autocomplete="off">
        <div>
                <div class="input-icons" style = "padding-top: 10px">
                    <i class="fa fa-envelope icon"></i>
                    <input type="text" name = "New_Email" id = "newEmail"  placeholder = "Email" class = "input-field" required>
               </div>
                
                <div class="input-icons" Style= "padding-top: 10px"> 
                <i class= "fa fa-user-circle icon"></i> 
                    <input type="text" name = "fname" id = "fname"  placeholder = "First Name" class = "input-field2" required>
                    <i class= "fa fa-user-circle icon"></i> 
                    <input type="text" name = "lname" id = "lname"  placeholder = "Last Name" class = "input-field2" required>
                </div>           
               
               
               <div class="input-icons">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" name = "NewPassword1" id = "newPassword1"  placeholder = "Password" class = "input-field" required>
                </div>
                <div class="input-icons">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" name = "NewPassword2" id = "newPassword2"  placeholder = "Confirm Password" class = "input-field" required>
                </div>
        </div>

    <button id = "myBtn" class = "buttonsub" type = "submit">REGISTER</button>
    </form> 
    
    </div>
</center>

<div id="myModal" class="modal">

    <div class="modal-content">
      <span class="close">&times;</span>
      <center>
        <p>User has Been Successfully Registered.</p>
      </center>
    </div>
  
  </div>

<!----------------------Scripting for Modal------------------------------->
<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var close = document.getElementsByClassName("close")[0];

// Open Modal
btn.addEventListener('click', openModal);

function openModal() {
  if(document.getElementById("newEmail").value.length == 0)
  {
      alert("Please Enter Email")
    }else if(document.getElementById("fname").value.length == 0){
      alert("Please Enter First Name")
    }else if(document.getElementById("lname").value.length == 0){
      alert("Please Enter Last Name")
    }else if(document.getElementById("newPassword1").value.length == 0 || document.getElementById("newPassword2").value.length == 0 ){
      alert("Password input incorrect")
    }else{
      modal.style.display = 'block';
    }
}

//Close Modal

close.onclick = function() {
  modal.style.display = "none";
}

//Outside Click Close

window.addEventListener('click', clickOutside);

function clickOutside(e) {
    if(e.target == modal){
        modal.style.display = 'none';
    }
}


</script>


</body>
</html>